@page "/about"
@using SharedComponents

<MenuBar />

<h1>About Us</h1>
<hr style="border: 1px solid #800000" />

<body style="color:white">
    <div class="center" style="width:100%;">
        <h1>Our Philosophy</h1>
        <hr style="border: 1px solid #FFFFFF" />
        <p style="width:75%; margin: auto;">
            'Variety is the spice of life', they say. 'Stagnation is followed by pestilence and pestilence
            is followed by death', they say. Yet we know this to be a lie. Look no further than people's culinary choices.
            How can one claim variety to be a necessity while simultaneously only consuming boring pizza?
            'Ah yes, please give me my 97th pepperoni pizza', they say. We're tired of this blatant hypocrisy.
        </p>
        <br />
        <p style="width:75%; margin: auto;">
            You finally have another option. We guarantee that every single product here is entirely unique. You will have
            never consumed anything like it. We're offering true variety. Break the chains of tradition. See the light.
            Practice what you preach and consume a crusty sock flavored pizza to break the hold of pestilence.
            Along with this, we offer a 100% money-back guarantee to all qualifying customers: if you ever forget your meal here, we
            will fully reimburse your purchase. This offer is available to <b>all</b> customers who do not suffer from any
            documented memory-related health conditions. What proves our confidence in our products more than that?
        </p>
    </div>

    <div class="center" style="width:100%;">
        <h1>Who are we?</h1>
        <hr style="border: 1px solid #FFFFFF" />
        <p style="width:75%; margin: auto;">
            Very good question! The answer is very simple: doxxing is bad. I'm not asking for your personal information, so why
            do you need ours? You can trust us! You give us money, we give you a high quality pizza that you will never forget. Nothing else is necessary.
            Privacy is our #2 priority, right beyond providing the best possible experience to our customers. We will therefore never
            hand over information voluntarily. Likewise, we promise the utmost security for any information that you must enter
            in order to order one of our splendid pizzas. Anything less would be hypocritical, which is bad, which is clearly
            wholly contradictory to our philosophy. You can really trust us!
        </p>
    </div>

    <div class="center" style="width:100%;">
        <h1>Join our Team!</h1>
        <hr style="border: 1px solid #FFFFFF" />
        <p style="width:75%; margin: auto;">
            We are always looking for new members! Our application process is very simple: email septicciper@protonmail.com asking for an application. 
            The supreme leader will then respond and provide you an application to fill out. He will also give you the coordinates of a remote location
            at which you will drop this application off. Nobody else will know this location, so your security and safety is guaranteed. If your application is accepted
            you will then receive coordinates to a hidden and similarly secure drop-off location. Here you will find induction documents describing the induction process. 
            Pass this induction and you will then become a permanent member of our team. We're excited to see you! 
        </p>
    </div>
</body>



@code {

}
