@page "/login"
@inject MyDbService service
@inject ProtectedLocalStorage ProtectedSessionStore
@inject NavigationManager NavigationManager


<hr />
<hr />
<hr />
<hr />
<hr />

<div class="center">
    <label class="title" style="font-size:x-large;">Login Below:</label>
    <hr style="border: 1px solid #FFFFFF" />
    <form @onsubmit="TryLogin">
        <div class="form-group">
            <label class="labelrow">Username:</label>
            <input type="text" class="inputrow form-control" @bind="username" />
        </div>
        <div class="form-group">
            <label class="labelrow">Password:</label>
            <input type="text" class="inputrow form-control" @bind="password" />
        </div>
        <div class="text-center p-3 mb-3">
            <input type="submit" value="Submit" class="terriblebutton" />
        </div>
    </form>


    <NavLink class="nav-link text-warning" href="login/register" Match="NavLinkMatch.All">
        New User? Register here.
    </NavLink>

    @if (invalid is true) {
        <label class="text-warning" style="margin-top: 10px;">Invalid User/Login.</label>
    }
</div>




@code{
    private UserAccount Account;
    private string username, password;
    private bool invalid;

    protected override void OnInitialized() {
        invalid = false;
    }
    private async Task TryLogin() {
        Account = await service.GetAccountLoginAsync(username, password);

        if (Account is null) {
            invalid = true;
        }
        else {
            await ProtectedSessionStore.SetAsync("account", Account);
            NavigationManager.NavigateTo("/");
        }

    }
}
